<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <%= link_to(
            'Delete', # Link text
            article_path(article), # Path
            method: :delete, # Http method
            data: { confirm: 'Are you sure?' } # Confirm prompt
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
